.lined-heading{
	position: relative;
	width: 100%;
	max-width: 738px;
	font-size: 1.11em;
	line-height: 1.375em;
	margin: 15px auto 40px;
	text-align: center;
}

.lined-heading:before {
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: calc(100% - 20px);
	position: absolute;
	top: 50%;
	left: 10px;
	content: "";
	border-bottom: 1px solid #d3d3d3;
	display: block;
}

.lined-heading span {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	padding: 0 40px;
	font-size: 1.25em;
	text-align: center;
	display: inline-block;
	background-color: white;
}

.lined-heading-twitter{
	height: 60px;
}