.menumMobile{
  background-color: #EAE7DD;
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width:100%;
  display:none;   
}

.menumMobile-header{
  border-bottom: 1px solid #C6B6A6;
  height: 71px;;
}

.menumMobile-header-btnClose{
    margin-right: 43px;
    margin-top: 15px;
    margin-bottom: 13px;
    float: right;
}

.menumMobile-header-btnClose img{
  height: 32px;
}

.menumMobile-level1{
  border-bottom: 1px solid #C9C3AF;
  text-align: left;
  color: #4B3625;
  font-size: 18px;
  line-height: 46px;
  font-weight: 900;
  text-transform: uppercase;
  padding-left: 50px;
  display:block;
  width:100%;
}
.menumMobile-level1:hover{
background: #F6F5EF;
}

.menumMobile-level1 a{
  color: #4B3625;
  display: block;
}
.menumMobile-container-group{
  background-color: #FFFFFF;
  color: #7F6C5C;
  padding-left: 70px;
  font-weight: 900;
  line-height: 35px;
  font-size: 1.2em;
}

.menumMobile-container-ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menumMobile-container-item{
  padding-left: 70px;
  border-bottom: 1px solid #C9C3AF;
  background: #F6F5EF;
}

.menumMobile-container-item a{
  font-size: 1.3em;
  color: #4B3625;
  line-height: 2.556em;
  display: block;
}