.menu{
  display: none;
  @media (--tablet){
    lost-center: 1400px;
    display: block;
    margin-top: 10px;
  }
  @media (--desktop){
    lost-center: 1400px;
    display: block;
    margin-top: 10px;
  }

  .menu-item{
    display: inline;
    font-weight: 300;
    padding: 0 10px;
    margin-top: 10px; 
    a{
      color: #737373;
      font-size: 18px;
      text-decoration: none;
    }
  }
}